twidgets/config/widgets/todo_save_file.txt
.idea/*
__pycache__/*
twidgets/__pycache__/*
twidgets/widgets/__pycache__/*
twidgets/core/__pycache__/*
.idea/workspace.xml
twidgets/config/secrets.env
.DS_Store