# Use graft to include the entire config directory and everything inside it
graft twidgets/config

# Now, add specific exclusions for files/folders you DO NOT want
exclude twidgets/config/secrets.env
exclude twidgets/config/widgets/todo_save_file.txt

# Prune common build garbage
prune **/__pycache__
prune .idea
global-exclude .DS_Store